body {
    padding: 0;
    margin: 0;
}

#map {
	min-height: 800px;
    height: 100%;
    width: 100%;
}

#heading {
	font-weight: bold;
}

#results-link {
	display: none;
}

#dialog-close-button {
	width: 150px;
	margin: 2px;
	float: right;
}